<h2>{{vm.titulo}}</h2>



<div class="row">
    <div class="col-8">
        <label>Buscar </label>
        <input type="text" ng-model="busqueda.circuitName">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Ciudad</th>
                    <th scope="col">País</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="circuito in vm.circuitos | filter:busqueda | orderBy: 'circuitName':false">
                    <td>{{$index + 1}}</td>
                    <td><a href="#!/app/circuito/{{circuito.circuitId}}">{{circuito.circuitName}}</a></td>
                    <td>{{circuito.Location.locality}}</td>
                    <td>{{circuito.Location.country}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-4">
        <pre><code>
            {{vm.circuitos | json}}
        </code></pre>
    </div>

    

    <!--
    <div class="col-4">
            <div id="map"></div>
            <script>
              var map;
              function initMap() {
                map = new google.maps.Map(document.getElementById('map'), {
                  center: {lat: -34.397, lng: 150.644},
                  zoom: 8
                });
              }
            </script>
            <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap"
            async defer></script>
    </div>
    -->
    
    
</div>