<h2>Leeme</h2>

<p>Para que los cambios en los archivos TypeScript se compilen automaticamente a JS </p>

<nav>
    <ul>
        <li><a tarjet="_blank" href="https://ui-router.github.io/ng1/">UI-Router Angularjs</a></li>
        <li><a tarjet="_blank" href="https://www.typescriptlang.org/">TypeScript</a></li>
        <li><a tarjet="_blank" href="https://www.freecodecamp.org/learn/">Ejercicios ES6</a></li>
    </ul>
</nav>
<ul>
    <li>En una primera terminal/consola arrancamos la aplicacion con  <code>npm run dev</code></li>
    <li>Vamos a "Terminal" -> "Ejecutar compilar tarea..." -> tsc:seguir - tsconfig.json</li>
    
</ul>